<div class="wrapper">
  <button type="button" (click)="handleClick('assets/redis-ru.pdf')">
    PRINT
  </button>
  <button type="button" (click)="handleIEClick('assets/redis-ru.pdf')">
    PRINT IE
  </button>
  <button type="button" (click)="getPagesCount('assets/redis-ru.pdf')">
    PAGES COUNT
  </button>
</div>
<progress *ngIf="printService.progress$ | async as progress" [value]="progress.index" [max]="progress.totalCount">{{
  (progress.index / progress.totalCount).toFixed(2)
}}</progress>
